<div class="container top-space">
  <div class="row g-5 justify-content-between">
    <div class="col-12 col-lg-7 info ">
      <nz-card>
        <div>
          <h3>Thông tin giao hàng</h3>
          <form nz-form [nzLayout]="'vertical'" [formGroup]="myForm">
            <ng-template #message>
              <div>
                Vui lòng điền thông tin
              </div>
            </ng-template>
            <div class="row">
              <div class="col-12">
                <nz-form-item>
                  <nz-form-label nzRequired>Tên</nz-form-label>
                  <nz-form-control [nzErrorTip]="message">
                    <nz-input-group>
                      <input formControlName="name" nz-input placeholder="Họ và tên" />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div class="col-12 col-md-7">
                <nz-form-item>
                  <nz-form-label>Email</nz-form-label>
                  <nz-form-control>
                    <nz-input-group>
                      <input nz-input placeholder="Email" />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div class="col-12 col-md-5">
                <nz-form-item>
                  <nz-form-label nzRequired>Số điện thoại</nz-form-label>
                  <nz-form-control [nzErrorTip]="message">
                    <nz-input-group>
                      <input formControlName="phoneNumber" nz-input placeholder="Số điện thoại nhận hàng" />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div class="col-12 col-md-4">
                <nz-form-item>
                  <nz-form-label nzRequired>Tỉnh / Thành phố</nz-form-label>
                  <nz-form-control [nzErrorTip]="message">
                    <nz-select formControlName="city" nzPlaceHolder="Chọn tỉnh / thành phố">
                      <nz-option nzValue="" nzLabel="Hà Nội"></nz-option>
                      <nz-option nzValue="" nzLabel="Hồ Chí Minh"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div class="col-12 col-md-4">
                <nz-form-item>
                  <nz-form-label nzRequired>Quận / Huyện</nz-form-label>
                  <nz-form-control [nzErrorTip]="message">
                    <nz-select formControlName="district" nzPlaceHolder="Chọn quận / huyện">
                      <nz-option nzValue="" nzLabel="Hà Nội"></nz-option>
                      <nz-option nzValue="" nzLabel="Hồ Chí Minh"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div class="col-12 col-md-4">
                <nz-form-item>
                  <nz-form-label nzRequired>Phường / Xã</nz-form-label>
                  <nz-form-control [nzErrorTip]="message">
                    <nz-select formControlName="commune" nzPlaceHolder="Chọn phường / xã">
                      <nz-option nzValue="" nzLabel="Hà Nội"></nz-option>
                      <nz-option nzValue="" nzLabel="Hồ Chí Minh"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div class="col-12">
                <nz-form-item>
                  <nz-form-label nzRequired>Địa chỉ cụ thể</nz-form-label>
                  <nz-form-control [nzErrorTip]="message">
                    <nz-input-group>
                      <input formControlName="address" nz-input placeholder="Địa chỉ nhận hàng" />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </form>
        </div>
        <div>
          <h3>Phương thức thanh toán</h3>
          <div class="row payment-input">
            <nz-radio-group [(ngModel)]="radioValue" *ngFor="let item of paymentMethod">
              <nz-card>
                <label nz-radio [nzValue]="item"> <img class="payment-image" src="{{ item.image }}" alt=""><span>
                    {{ item.title }}
                  </span></label>
              </nz-card>
            </nz-radio-group>
            <div *ngIf="radioValue" class="payment-info">
              <div class="text-center">
                <div>
                  <h4>Thông tin thanh toán online</h4>
                  <p>{{ radioValue.number }} - {{ radioValue.name }}</p>
                  <p>Hoặc quét mã QR:</p>
                  <img src="{{ radioValue.code }}" alt="">
                  <p class="mt-3">Lựa chọn ưu đãi:</p>
                </div>
              </div>
              <nz-radio-group [(ngModel)]="discountValue">
                <label class=" mb-2 text-wrap" nz-radio nzValue="1">5% tổng giá trị đơn hàng và freeship toàn
                  quốc</label>
                <label class="text-wrap" nz-radio nzValue="2">Giảm 15% tổng giá trị đơn hàng (không bao gồm phí
                  ship)</label>
              </nz-radio-group>
            </div>
          </div>
        </div>
        <button class="order-btn mt-5">Đặt hàng</button>
      </nz-card>
    </div>
    <div class="col-12 col-lg-5">
      <cart-product-list></cart-product-list>
      <nz-alert class="mt-5" nzType="warning" [nzMessage]="notice"></nz-alert>
      <ng-template #notice>
        <p class="mb-0">Phụ kiện xinh sẽ <strong>xác nhận</strong> đơn hàng bằng <strong>tin nhắn SMS</strong> hoặc
          <strong>gọi
            điện</strong>. Bạn vui lòng kiểm tra tin nhắn hoặc nghe ngay
          khi đặt hàng thành công và chờ nhận hàng!</p>
      </ng-template>
    </div>
  </div>
</div>
