<div class="container">
  <div class="row">
    <div class="col-12 col-md-8">
      <cart-product-list></cart-product-list>
    </div>
    <div class="col-12 col-md-4">
      <div class="promotion-box">
        <div class="title">
          <h3> Thanh toán liền tay nhận ngay ưu đãi!</h3>
          <p>Thanh toán trước từ 50% giá trị đơn hàng, miễn phí ship toàn quốc và giảm thêm 5% trên tổng giá trị đơn
            hàng
            hoặc
            giảm 15% trên tổng giá trị đơn hàng(không bao gồm phí ship)</p>
          <h3>Khách hàng thân thiết</h3>
          <p>Giảm ngay 15% tổng giá trị đơn hàng khi mua 20 sản phẩm trở lên</p>
          <p>Freeship toàn quốc đối với đơn hàng trên 180k</p>
        </div>
        <div class="payment">
          <h3>Phương thức thanh toán hỗ trợ</h3>
          <div class="row row-cols-4 row-cols-md-6">
            <div class="col">
              <img src="/assets/images/momo1.png" alt="">
            </div>
            <div class="col">
              <img src="/assets/images/airpay.png" alt="">
            </div>
            <div class="col">
              <img src="/assets/images/banktransfer.jpg" alt="">
            </div>
          </div>
          <div class="my-3">
            <h3 class="mb-0"> <i nz-icon [nzType]="'check-circle'" [nzTheme]="'twotone'"
                [nzTwotoneColor]="'#52c41a'"></i>
              Đổi trả dễ dàng
            </h3>
            <p class="note-text">Trong vòng 3 ngày kể từ khi nhận hàng</p>
          </div>
          <div>
            <h3 class="mb-0"> <i nz-icon [nzType]="'check-circle'" [nzTheme]="'twotone'"
                [nzTwotoneColor]="'#52c41a'"></i>
              Hotline bán hàng: 0123456789
            </h3>
            <p class="note-text">Khung giờ hỗ trợ: 8am - 22pm</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
