.promotion-box {
  padding: 16px;
  .title {
    padding: 24px;

    background-color: #f2f2f2;
    background-image: url("/assets/images/discount.png");
    background-size: 40%;
    background-position: right bottom;
    background-repeat: no-repeat;
    padding-bottom: 56px;
  }
  .payment {
    padding: 24px;
    margin-top: 24px;
    background-color: #f2f2f2;

    img {
      width: 100%;
      border-radius: 8px;
      margin: 8px;
    }
  }
}
.note-text {
  margin-left: 20px;
  font-size: 12px;
}
.payment-button {
  margin-top: 24px;
  text-align: right;

  button {
    background-color: #f26981;
    color: white;
    border: 0 solid;
    border-radius: 4px;
    padding: 6px 12px;
  }
}