::ng-deep {
  .ngxImageZoomContainer {
    width: 100% !important;
    height: 100% !important;
  }

  .ngxImageZoomFullContainer {
    width: 100% !important;
    height: 100% !important;
  }

  .ngxImageZoomThumbnail {
    width: 100%;
    object-fit: contain !important;
  }

  .ngxImageZoomFull {
    width: 100%;
    object-fit: cover !important;
  }
}

.active {
  padding: 3px;
  border: 1px solid gray;
  box-shadow: 0 0 10px .5px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}
