@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.login-box {
  h2 {
    text-align: center;
    color: #f16c83;
    font-family: "Lobster" !important;
  }

  button {
    background-color: #f26981;
    color: white;
    border: 0 solid;
    border-radius: 25px;
    padding: 6px 12px;
  }

  ::ng-deep .ant-input-affix-wrapper {
    border-radius: 25px;
    padding: 6px 12px;
  }
}
::ng-deep {

  .ant-input-group>.ant-input:last-child,
  .ant-input-group-addon:last-child {
    border-radius: 25px;
  }

  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border-radius: 25px;
  }
}