 <div>
   <nz-carousel nzAutoPlay nzAutoPlaySpeed="4000">
     <div nz-carousel-content *ngFor="let content of contents"
       [ngStyle]="{'background-image': content.image, 'text-align': content.align}">
       <div>
         <h3>{{ content.title }}</h3>
         <p>{{ content.pragragraph}}</p>
       </div>
     </div>
   </nz-carousel>
 </div>
 <!-- product list -->
 <div class="container">
   <div class="mt-5">
     <div *ngFor="let item of items">
       <div class="text-center mb-5">
         <h2 class="mt-100"> {{item.title}} </h2>
         <p>{{ item.textLead }}</p>
       </div>
       <product-card></product-card>
       <div class="text-center my-5">
         <a class="text-black-50" routerLink="/ring">Xem thêm sản phẩm khác</a>
       </div>
       <nz-divider></nz-divider>
     </div>
   </div>
   <!-- /product list -->
   <div class="home-blog">
     <div class="text-center my-5">
       <h2 class="mt-100"> Góc chúng mình </h2>
       <p>Tâm sự cùng Phụ kiện xinh</p>
     </div>
     <div class="row">
       <div class="d-none d-lg-inline col-8">
         <div class="main-topic">
           <img src="/assets/images/img1.jpg" alt="">
         </div>
       </div>
       <div class="col-12 col-lg-4">
         <div class="topic">
           <div class="card row mb-3" *ngFor="let topic of topics">
             <div class="col-5 thumb">
               <div class="px-3">
                 <img src="{{ topic.img }}" alt="">
               </div>
             </div>
             <div class="col-7">
               <div class="py-1">
                 <h3 class="font-italic">{{ topic.title }}</h3>
                 <p>{{ topic.content }}</p>
                 <p class="date">24/03/2021</p>
               </div>
             </div>
           </div>
         </div>
         <div class="text-right px-4">
           <a href="">Xem thêm</a>
         </div>
       </div>
     </div>
   </div>
 </div>
