
[nz-radio] {
  display: block;
  height: 32px;
  line-height: 32px;
  margin: 12px 0;
 
}
.item {
  margin: 30px 8px 20px 0;
  // border-bottom: 1px solid rgb(173 172 172 / 45%);
  a {
    color: black;
  }
}
