.auth-layout {
    background-image: url("/assets/images/bg2.jpg");
    height: 100vh;
    background-size: cover;
    .auth-box {
       margin-top: 100px;
        background-color: white;
        border-radius: 8px;
    }
}
