.price {
  margin-top: 24px;
  text-align: right;

  span {
    color: red;
    font-size: 16px;
    font-weight: 500;
  }
}

@media (max-width: 767.98px) {
  ::ng-deep .ant-table-wrapper {
    display: block;
    width: 100%;
    overflow-x: auto;
  }

}

::ng-deep .ant-table-fixed {
  table-layout: auto !important;
}

.delete-btn {
  color: #dc3545;
}

.delete-btn:hover {
  color: #dc3545;
  background: #f1f1f1;
  padding: 12px;
  border-radius: 6px;
}
