<div class="content-layout">
  <nav class="navbar">
    <div class="container nav">
      <a routerLink="/content-layout" class="d-flex logo">
        <img src="/assets/images/logonotext.png" alt="logo">
        <h2>Phụ kiện xinh</h2>
      </a>
      <ul class="nav-list" [ngClass]="{'nav-hide': isHide, 'nav-active': !isHide}">
        <li><a routerLink="/">Trang chủ</a></li>
        <li>
          <div nz-dropdown [nzDropdownMenu]="menu">Sản phẩm</div>
        </li>
        <li><a routerLink="/">Blog</a></li>
        <li><a routerLink="/">Sale</a></li>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu class="p-3">
            <a href="">
              <li nz-menu-item><i nz-icon nzType="caret-right" nzTheme="outline"></i>Phụ kiện tóc</li>
            </a>
            <a href="">
              <li nz-menu-item><i nz-icon nzType="caret-right" nzTheme="outline"></i>Khuyên tai</li>
            </a>
            <a href="">
              <li nz-menu-item><i nz-icon nzType="caret-right" nzTheme="outline"></i>Mũ</li>
            </a>
            <a href="">
              <li nz-menu-item><i nz-icon nzType="caret-right" nzTheme="outline"></i>Kính</li>
            </a>
            <a routerLink="/ring">
              <li nz-menu-item><i nz-icon nzType="caret-right" nzTheme="outline"></i>Nhẫn</li>
            </a>
            <a href="">
              <li nz-menu-item><i nz-icon nzType="caret-right" nzTheme="outline"></i>Vòng tay</li>
            </a>
            <a href="">
              <li nz-menu-item><i nz-icon nzType="caret-right" nzTheme="outline"></i>Vòng cổ, khăn</li>
            </a>
            <a href="">
              <li nz-menu-item><i nz-icon nzType="caret-right" nzTheme="outline"></i>Phụ kiện quần áo</li>
            </a>
            <a href="">
              <li nz-menu-item><i nz-icon nzType="caret-right" nzTheme="outline"></i>Móng</li>
            </a>
            <a href="">
              <li nz-menu-item><i nz-icon nzType="caret-right" nzTheme="outline"></i>Móc khóa</li>
            </a>
            <a href="">
              <li nz-menu-item><i nz-icon nzType="caret-right" nzTheme="outline"></i>Đồ lót</li>
            </a>
          </ul>
        </nz-dropdown-menu>
        <ng-container *ngIf="user; else elseTemplate">
          <li class="nav-item" nz-button nz-dropdown [nzDropdownMenu]="menu" nzPlacement="bottomRight">
            {{ user.preferred_username }} <i class="ml-2" nz-icon nzType="down" nzTheme="outline"></i></li>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item><a routerLink="/authentication/logout" [state]="{ local: true }">
                  <i class="mr-3" nz-icon nzType="logout" nzTheme="outline"></i>Đăng xuất</a></li>
            </ul>
          </nz-dropdown-menu>
        </ng-container>
        <ng-template #elseTemplate>
          <li class=" nav-link"><a routerLink="/auth/login">Đăng nhập</a></li>
        </ng-template>
      </ul>
      <div class="burger" (click)="isHide = !isHide">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
    </div>
  </nav>

  <div class="main">
    <router-outlet></router-outlet>
  </div>

  <div class="footer mt-5">
    <div class="container py-5">
      <div class="row  px-3 px-md-0">
        <div class="col-6 col-md-4  info">
          <h4>Gọi hỗ trợ mua hàng</h4>
          <p><i class="align-middle" nzRotate="180" nz-icon nzType="phone" nzTheme="outline"></i> 0242757577</p>
          <div class="logo">
            <img src="assets/images/logonotext.png" alt="">
          </div>
        </div>
        <div class="col-6 col-md-4 rules">
          <h4>Chính sách</h4>
          <ul>
            <a href="">
              <li>Chính sách đổi trả</li>
            </a>
            <a href="">
              <li>Khách hàng thân thiết</li>
            </a>
            <a href="">
              <li>Chiết khấu cộng tác viên</li>
            </a>
          </ul>
        </div>
        <div class="col-12 col-md-4  channel">
          <h4>Liên hệ với chúng tôi</h4>
          <div class="d-flex">
            <a href=""> <img src="/assets/images/fb.png" alt=""></a>
            <a href=""> <img src="/assets/images/insta.jpg" alt=""></a>
            <a href=""> <img src="/assets/images/shopee.jpeg" alt=""></a>
            <a href=""> <img src="/assets/images/gmail.png" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
