@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.content-layout {
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.navbar {
  position: fixed;
  display: flex;
  width: 100%;
  z-index: 99;
  background-color: white;
}

.nav {
  display: flex;
  align-items: center;
  height: 65px;

  .logo {
    h2 {
      font-family: "Lobster" !important;
      color: #f26981;
      margin-top: auto;
      margin-bottom: auto;
      vertical-align: middle;
      font-size: 24px;
      margin-left: 8px;
    }

    img {
      height: 60px;
      margin-top: auto;
      margin-bottom: auto;
    }
  }

  .nav-list {
    margin-left: auto;
    display: flex;
    padding-top: 12px;

    li {
      padding-top: 6px;
      list-style: none;
      margin: 0 12px;

      div {
        font-weight: 600;
        font-size: 16px;
        color: #444;
        cursor: pointer;
      }
    }

    a {
      text-decoration: none;
      font-weight: 600;
      font-size: 16px;
      color: #444;
    }

    a:hover {
      color: #f26981;
    }
  }

  .burger {
    display: none;
    border: 1.75px solid #f26981;
    border-radius: 6px;

    div {
      width: 25px;
      height: 2px;
      background-color: #f26981;
      margin: 5px;
    }
  }
}

@media screen and (max-width: 768px) {
  .nav {
    justify-content: space-between;
  }

  .nav-list {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #ffe6fa;
    justify-content: space-evenly;
    position: absolute;
    right: 0px;
    height: 220px;
    top: 60px;
    background-image: linear-gradient(to right, #e3fdf5 0%, #ffe6fa 100%);
    display: flex;
    flex-direction: column;
    align-items: left;
    min-width: 100%;
    transform: translateX(100%);

    li {
      margin: 24px 0;
    }
  }

  .burger {
    display: block !important;
  }

  .nav-active {
    transform: translateX(0%) !important;
  }

  .nav-hide {
    transform: translateX(100%) !important;
  }
}

.footer {
  background-color: #f1f1f1;

  .info {
    .logo {
      img {
        width: 60px;
        object-fit: contain;
      }
    }

    p {
      color: rgba(0, 0, 0, 0.5);
    }
  }

  .rules {
    ul {
      list-style: none;
      padding: 0;

      a {
        color: rgba(0, 0, 0, 0.5) !important;

        li {
          margin: 14px 0;
        }
      }
    }
  }

  .channel {
    img {
      width: 40px;
      height: 40px;
      margin: 16px 16px 0 0;
      border-radius: 8px;
      background-color: white;
    }
  }
}

::ng-deep {
  .ant-dropdown {
    margin-top: 20px;
  }
}

.main {
  display: block;
  flex: 1 0 auto;
  margin-top: 65px;
}

.cart {
  padding-top: 0 !important;
  background-color: #f26981;
  border: 2px solid #e0415d;
  border-radius: 50%;
  line-height: 24px;

  i {
    padding: 4px;
    font-size: 24px;
    color: white;
  }
}
