<!-- product cart -->
<div class="d-flex">
  <div class="card">
    <a routerLink="/product-view">
      <div class="thumb">
        <div>
          <img [src]="getActiveData(data).data.images[0] | fullUrl" alt="" style="object-fit: contain;">
        </div>
      </div>
      <div class="text-center">
        <h2 class="text-center">{{ data.data.name }}</h2>
        <p>{{ data.data.price}}</p>
        <div class="d-flex justify-content-center">
          <div class="circle-select" *ngFor="let item of data.products; let i=index">
            <img class="mx-2 img-option" [class.active]="i === data.activeIndex" (mouseover)="data.activeIndex = i"
              src="{{ item.image }}" alt="">
          </div>
        </div>
      </div>
    </a>
    <button (click)="showModal()">Thêm vào giỏ hàng</button>
  </div>
</div>
<!-- /product cart -->
