@import "node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "node_modules/bootstrap/scss/bootstrap-utilities.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

html body {
  font-family: 'Montserrat';
}

.text-right {
  text-align: end;
}

.top-space {
  margin-top: 80px;
}

@media only screen and (min-width: 768px) {
  .modal-md {
    width: 70% !important;
  }
}

@media only screen and (max-width: 768px) {
  .modal-md {
    width: 90% !important;
  }
}

.pink-btn {
  background-color: #f26981;
  color: white;
  border: 0 solid;
  border-radius: 4px;
  padding: 6px 12px;
}

.btn-secondary {
  background-color: #e2e2e2;
  color: rgb(43, 41, 41);
  border: 0 solid;
  border-radius: 4px;
  padding: 6px 12px;
}
